h1 {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

h3 {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

body {
  font-family: "helvetica", sans-serif;
  text-align: left;
}

table{
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 1px solid black;
  text-align: right;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

td {
  text-align: right;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

form {
    display: inline-block;
}


.logo {
  vertical-align: baseline;
  float:right;
  padding-bottom: 10px
}

.status {
  padding-top: 15px;
  padding-bottom: 15px;
}

.column {
	float: left;
	padding: 0px;
}

.left, .right {
	width: 20%;
	padding-left: 0px;
}

.middle {
	width: 60%;
  padding-left: 0px;
}

.tableleft {
  text-align: left;
}

.btn {
  border: 1px solid purple;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  color: purple;
  /* cursor: pointer; */
  display: inline-block;
}

.btn:hover {
  background-color: purple;
  color: white;
}